@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

.userProfile__container {
  margin-left: 20px;
  width: 230px;
  font-size: 15px;
}

.userProfile__paperContainer {
  padding: 15px;
  text-align: center;
}

.userProfile__caption {
  color: #a4a4a4;
  padding-top: 15px;
}
