.navbar {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: var(--primary-color);
  position: sticky;
  top: 0;
  left: 0;
}

.navbar__logo {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
  margin-left: 7px;
}

.navbar_textbox {
  width: 250px !important;
  font-size: 12px !important;
  height: 0.3em !important;
}

.navbar_notification {
  font-size: 12px;
}

.navbar__searchButton {
  background-color: #0c97ed;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  font-size: 13px;
  width: 100px !important;
}
